<div class="row">
  <aside class="col-md-4">
    <section class="node_info">
      <ul>
        <li>id = <%= @node.id %>
        <li>text = "<%= @node.text %>"
        <li>left_id = <%= @node.left_id %>
        <li>right_id = <%= @node.right_id %>
        <li>parent_id = <%= @node.parent_id %>
      </ul>
    </section>
  </aside>
</div>